.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
}

.wallet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 20%;
}

.vm-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #cccccc;
  padding: 2rem;

  &-vm {
    background-color: #3b3b3e;
    color: #3b8070;
    border: 4px solid #3b8070;
    font-size: 18px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;
    align-items: center;
    min-width: 20rem;
    min-height: 16rem;
    margin-top: 2.5rem;

    &-message {
      margin-top: 1rem;
      color: #3b8070;
      font-size: 18px !important;
    }
  }

  &-column {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-header {
      font-size: 18px;
    }

    &-coin {
      margin: 1rem;
      padding: 2rem;
    }

    &-product {
      margin: 1.5rem !important;
      padding: 1.5rem !important;
      font-size: 16px !important;
      min-width: 20rem !important;
    }

    &-rest {
      margin: 1rem !important;
      padding: 1.5rem !important;
      font-size: 14px !important;
      color: white !important;
    }
  }
}
