<template>
  <v-app>
    <div
      class="container">
      <div
        class="header">
        <h2>Vending Machine</h2>
      </div>
      <div
        class="wallet">
        <div
          class="wallet_user">Кошелек пользователя:
          <div
            v-for="coins in user_wallet">
            <div
              :key="coins.coin_cost">
              {{ coins.coin_cost }} руб. - {{ coins.count }} монет
            </div>
          </div>
        </div>
        <div
          class="wallet_vm">Остаток товаров:
          <div
            v-for="product in products">
            <div
              :key="product.id">
              {{ product.title }} - {{ product.count }} шт.
            </div>
          </div>
        </div>
        <div
          class="wallet_vm">Кошелек VM:
          <div
            v-for="coins in vm_wallet">
            <div
              :key="coins.coin_cost">
              {{ coins.coin_cost }} руб. - {{ coins.count }} монет
            </div>
          </div>
        </div>
      </div>
      <div
        class="vm-container">
        <div
          class="vm-container-column">
          <div
            class="vm-container-column-header">Внести монеты
          </div>
          <v-btn
            class="mx-2 vm-container-column-coin"
            fab
            dark
            @click="sendCoin(10)"
            color="#FFA812">10 руб.
          </v-btn>
          <v-btn
            class="mx-2 vm-container-column-coin"
            fab
            dark
            @click="sendCoin(5)"
            color="#FFA812">5 руб.
          </v-btn>
          <v-btn
            class="mx-2 vm-container-column-coin"
            fab
            dark
            @click="sendCoin(2)"
            color="#FFA812">2 руб.
          </v-btn>
          <v-btn
            class="mx-2 vm-container-column-coin"
            fab
            dark
            @click="sendCoin(1)"
            color="#FFA812">1 руб.
          </v-btn>
        </div>
        <div
          class="vm-container-column">
          <div
            class="vm-container-column-header">Выберите напиток
          </div>
          <div
            v-for="product in products">
            <v-btn
              :key="product.id"
              small
              rounded
              color="primary"
              @click="buyProduct(product)"
              class="vm-container-column-product">{{ product.title }} - {{ product.price }} руб.
            </v-btn>
          </div>
        </div>
        <div
          class="vm-container-column">
          <div
            class="vm-container-vm">
            <div>Внесенная сумма {{ vm_sum }} руб.</div>
            <div
              class="vm-container-vm-message">{{ vm_message }}
            </div>
          </div>
          <v-btn
            small
            rounded
            color="red"
            @click="getRest()"
            class="vm-container-column-rest">Сдача
          </v-btn>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      user_wallet: [],
      vm_wallet: [],
      products: [],
      vm_sum: 0,
      vm_message: '',
    }
  },

  mounted() {
    this.getCoins();
    this.getProducts();
  },

  methods: {
    async getCoins() {
      const {data} = await this.$axios.get('coins/get');
      this.user_wallet = data.user;
      this.vm_wallet = data.vm;
    },
    async getProducts() {
      const {data} = await this.$axios.get('products/get');
      this.products = data;
    },

    sendCoin(cost) {
      this.user_wallet.forEach(item => {
        if (item.coin_cost === cost && item.count > 0) {
          this.vm_wallet.forEach(item => {
            if (item.coin_cost === cost)
              item.count++;
          });
          item.count--;
          this.vm_sum += cost;
        }
      });
    },

    async getRest() {
      let rest = [
        {
          'cost': 10,
          count: 0
        },
        {
          'cost': 5,
          count: 0
        },
        {
          'cost': 2,
          count: 0
        },
        {
          'cost': 1,
          count: 0
        },
      ];

      rest.forEach(item => {
        const split = Math.floor(this.vm_sum / item.cost);
        if (split >= 1) {
          this.vm_sum -= split * item.cost;
          this.user_wallet.forEach(coin => {
            if (coin.coin_cost === item.cost)
              coin.count += split;
          });
          this.vm_wallet.forEach(coin => {
            if (coin.coin_cost === item.cost)
              coin.count -= split;
          })
        }
      });

      await this.$axios.post('coins/update', {
        'user_coins': this.user_wallet,
        'vm_coins': this.vm_wallet,
      }).then(() => {
        this.vm_message = ''
      });
    },

    async buyProduct(product) {
      if (this.vm_sum >= product.price) {
        this.vm_sum -= product.price;
        this.products.forEach(item => {
          if (item.id === product.id)
            item.count--;
        });
        await this.$axios.post('products/update', {
          'id': product.id,
          'count': product.count,
        });
        await this.$axios.post('coins/update', {
          'user_coins': this.user_wallet,
          'vm_coins': this.vm_wallet,
        }).then(() => {
          this.vm_message = 'Спасибо!'
        });
      } else {
        this.vm_message = 'Недостаточно средств'
      }
    },

  }
}
</script>

<style
  lang="scss">
@import "../assets/scss/main.scss";
</style>
